[submodule "gstack"]
	path = gstack
	url = https://github.com/garrytan/gstack.git
[submodule "mattpocock-skills"]
	path = mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "agent-html-skills"]
	path = agent-html-skills
	url = https://github.com/f-labs-io/agent-html-skills.git
[submodule "drawio-mcp"]
	path = drawio-mcp
	url = https://github.com/jgraph/drawio-mcp
[submodule "taste-skill"]
	path = taste-skill
	url = https://github.com/Leonxlnx/taste-skill.git
